<!DOCTYPE HTML>
<html>
  <head>
    <title>Sven</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>betaAssisstant</h1>
    <p>微信机器人助手</p>
    <p><%=currentTime %></p>
  </body>
</html>
