<!DOCTYPE HTML>
<html>
    <head>
        <title>hello</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <table>
        <% for(var i=0;i<data.length;i++){ %>
            <tr>
                <td><span><%=data[i] %></span></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>
